<form action="/registrat" method="get" class="from-control">
    <div class="d-flex flex-column g-3">
        <div class="col">
            <input required name="name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col">
            <input required name="surname" type="text" class="form-control" placeholder="Surname">
        </div>
        <div class="col">
            <input required name="email" type="email" placeholder="Email" class="form-control">
        </div>
        <div class="col">
            <input required name="passdord" type="password" placeholder="Password" class="form-control">
        </div>
        <div class="col">
            <input required name="avatar" type="file" class="form-control" placeholder="Surname">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>